@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* ===Reusable Style */
a{
    font-weight: 500;
}
/* Banner */
.card-btn{
    background: #ffffff;
    color: #3F87F5;
    padding: 10px 32px;
    font-weight: 700;
}
.card-btn:hover{
    background-color: #3F87F5;
    color: #ffffff;
}
/* Pricing */
.price-table{
    padding:50px;
    border-radius: 25px;
}
.price-table-highlight{
    background-color: #3F87F5;
    color: #ffffff;
}
.bg-none{
    background: #ffffff00;
    color: #ffffff;
}
.bg-none .fa-check{
    color: #ffffff;
}
.fa-check{
    font-size: 14px;
    background: rgba(82, 67, 194, 0.10);
    color: #5243C2;
    padding: 5px;
    margin-right: 5px;
}
.price-btn{
    background: rgba(244, 150, 210, 0.315);
    color: #3F87F5;
    padding: 12px 60px;
    margin-top: 10px;
}
.price-btn:hover{
    color: #3F87F5;
}
.price-badge{
    position: absolute;
    left: 90%;
}
/* Question */
.accordion-button:not(.collapsed){
    color: #000;
    background-color: #ffffff00;
    border: none;
    box-shadow: none;
}